body {
  background-color: #5D7861;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: 600;
  font-size: 150%;
}

h1 {
  text-align: center;
  color: #A5C3E4;
}

img {
  opacity: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.left {
  text-align: left;
  font-size: 20px;
  padding-left: 50px;
}

.right {
  float: right;
  font-size: 20px;
  padding-right: 50px;
}
.author {
  text-align: center;
}

p {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}
