body {
  background-color: #5D7861;
  font-family: "Impact", fantasy;
  font-weight: 500;
  font-size: 120%;
}

h1 {
  text-align: center;
  color: #693278;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.left {
  text-align: left;
  font-size: 20px;
  padding-left: : 50px;
}

.right {
  float: right;
  font-size: 20px;
  padding-right: 50px;
}
